.filter-section{
    text-align: center;
}
.card-filter{
    width: 140vh;
}
.hide{
    display: none;
}
.report-view{
    width: 197vh;
    overflow-y: auto;
    max-height: 90vh;
}
.stats{
    text-align:center;
}
.gen-rep{
    background-color: #032a74;
}
.verified{
    background-color: #9bbdff70;
    color:#032a74;
}
.unverified{
    background-color: #ff970678;
    color:#a96200;
}
.total-rec{
    background-color: #c9c9c9;
}