.filter-section{
    text-align: center;
}
.card-filter{
    width: 140vh;
}
.hide{
    display: none;
}
.report-view{
    width: 197vh;
}
.stats{
    text-align:center;
}
.verified{
    background-color: #ddffef;
}
.unverified{
    background-color: #fff1f2;
}
.total-rec{
    background-color: #c9c9c9;
}